@font-face
{
    font-family: 'acumin-pro-medium';
    src: url('./fontsfree-net-acumin-pro-medium-1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'acumin-pro-italic';
    src: url('./fontsfree-net-acumin-pro-book-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

body
{
    /* box-sizing: border-box; */
    margin: 0;
}

:root
{
    --crl-green: #2D6251;
    --crl-lightgreen: #C5DAA2;
    --crl-yellow: #FFE363;
}

header
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: calc(10px + 1vw);
    height: calc(40px + 2vw);
}

/* #header-logo
{
    height: 100%;
} */

.nav-link
{
    padding-bottom: 8px;
    background:
    radial-gradient(circle closest-side, currentColor 80%, transparent) -12px 100% /12px 12px no-repeat,
    linear-gradient(currentColor 0 0) bottom left /var(--d, 0) 12px no-repeat;
    transition: 0.3s linear;

    text-decoration: none;
    color: var(--crl-green);
    font-family: "acumin-pro-medium", Arial;
    font-size: calc(20px + 0.5vw);
    margin: 0 calc(10px + 0.25vw);
}

.nav-link:hover
{
    --d: 50%;
    background-position: 50% 100%, bottom left;

    color: var(--crl-lightgreen);
}

/* Starting Section */
/* #home
{
    position: relative;
} */

#overlay1
{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "acumin-pro-medium", Arial;
    font-size: calc(20px + 1vw);
    /* color: white; */
}

/* Phone */
@media all and (max-width: 400px) and (min-width: 350px)
{
    #overlay1
    {
        margin-bottom: 320px;
    }
}

/* Ipad */
@media all and (max-width: 850px) and (min-width: 400px)
{
    #overlay1
    {
        margin-bottom: 300px;
    }
}

/* Screen */
@media all and (min-width: 850px)
{
    #overlay1
    {
        margin-bottom: 400px;
    }
}

h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Phone */
@media all and (max-width: 400px) and (min-width: 350px)
{
    h1
    {
        margin-left: 25%;
    }
}

/* Ipad */
@media all and (max-width: 850px) and (min-width: 400px)
{
    h1
    {
        margin-top: 25%;
        margin-left: 10%;
    }
}

#h1-crl1
{
    color: var(--crl-lightgreen);
    margin-left: 10px;
}

/* Phone */
@media all and (max-width: 400px) and (min-width: 350px)
{
    #h1-crl1
    {
        visibility: hidden;
    }
}

/* Ipad */
@media all and (max-width: 850px) and (min-width: 400px)
{
    #h1-crl1
    {
        visibility: hidden;
    }
}

h2, .p-pad1, #btnmargin
{
    padding-left: calc(10px + 3.5vw);
    color: black;
}

#sub-title
{
    color: white;
}

/* Background Image */
#background_image > img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    height: 700px;
}

/* Text and Image Sections */
.container
{
    width: 100%;
    margin-top: 12%;
    font-family: "acumin-pro-medium", Arial;
    font-size: calc(10px + 0.8vw);
    line-height: 1.5;
    display: flex;
}

/* Phone */
@media all and (max-width: 400px) and (min-width: 350px)
{
    .container
    {
        display: block;
    }
}

.panel > img
{
    width: calc(100px + 35vw);
    height: calc(100px + 20vw);
    margin-left: calc(20px + 3vw);
    padding-right: calc(10px + 3.5vw);
}

/* Phone */
@media all and (max-width: 400px) and (min-width: 350px)
{
    .panel > img
    {
        display: none;
    }
}

/* Phone */
@media all and (max-width: 400px) and (min-width: 350px)
{
    #panel-phone1 > img, #panel-phone2 > img, #panel-phone3 > img
    {
        width: calc(100px + 35vw);
        margin: 0 20%;
        /* Fix this margin 20% when the bugged section is fixed */
        margin-top: 3%;
    }
}

/* Ipad and Screen */
@media all and (min-width: 400px)
{
    #panel-phone1, #panel-phone2, #panel-phone3
    {
        display: none;
    }
}

h2
{
    font-family: "acumin-pro-medium", Arial;
    font-size: calc(12px + 1vw);
    color: var(--crl-green);
}

.DL
{
    text-decoration: none;
    color: var(--crl-green);
}

/* .text-info
{
    text-align: center;
    margin: 0 calc(20px + 3vw);
} */

#wind_turbine_mb
{
    margin-top: 3%;
    margin-bottom: calc(10px + 0.5vw);
    /* When next section margin-top done eliminate */
}

/* Phone */
@media all and (max-width: 400px) and (min-width: 350px)
{
    #wind_turbine_mb
    {
        margin-top: 12%;
    }
}

/* Ipad */
@media all and (max-width: 850px) and (min-width: 400px)
{
    #wind_turbine_mb
    {
        margin-top: 6%;
    }
}

#small-info
{
    font-family: "acumin-pro-medium", Arial;
    font-size: calc(10px + 0.6vw);
}

/* Screen */
@media all and (min-width: 850px)
{
    #small-info
    {
        font-family: "acumin-pro-medium", Arial;
        font-size: calc(5px + 0.6vw);
    }
}

/* Saber mais Section */
/* .read-more-container
{
    display: flex;
    flex-direction: column;
} */

.container2
{
    padding-left: calc(10px + 3.5vw);
    padding-bottom: 3%;
}

.read-more-text
{
    display: none;
}

.read-more-text--show
{
    display: inline;
}

.read-more-btn
{
    color: var(--crl-green);
}

/* Pedir Contacto Btn Section */
#btn1
{
    padding: calc(10px + 0.3vw);
    font-family: "acumin-pro-medium", Arial;
    font-size: calc(10px + 0.2vw);
    margin-right: calc(10px + 0.5vw);
    background-color: hsl(121, 82%, 47%);
    border: 3px solid hsl(121, 82%, 47%);
    border-radius: 25%;
}

.modal1
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.5s ease-in-out;
    border-radius: 10px;
    background-color: var(--crl-green);
    width: calc(300px + 60vw);
    max-width: 40%;
    height: calc(150px + 25vw);
    z-index: 5;
}

.modal1.active
{
    transform: translate(-50%, -50%) scale(1);
}

/* Phone */
@media all and (max-width: 400px) and (min-width: 350px)
{
    .modal1
    {
        max-width: 70%;
        height: 400px;
    }
}

/* Ipad */
@media all and (max-width: 850px) and (min-width: 400px)
{
    .modal1
    {
        max-width: 60%;
        height: 450px;
    }
}

.modal-header1
{
    padding: calc(10px + 0.2vw);
    margin-top: calc(-25px - 0.5vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.modal-header1 > .title1
{
    font-size: calc(12px + 0.8vw);
    font-weight: bold;
    margin-left: 28%;
    color: white;
}

/* Phone */
@media all and (max-width: 400px) and (min-width: 350px)
{
    .modal-header1 > .title1
    {
        margin-top: 20px;
        margin-left: 20%;
    }
}

/* Ipad */
@media all and (max-width: 850px) and (min-width: 400px)
{
    .modal-header1 > .title1
    {
        margin-top: 20px;
        margin-left: 30%;
    }
}

.modal-header1 > .close-button1
{
    cursor: pointer;
    border: none;
    background: none;
    font-size: calc(10px + 1vw);
    font-weight: bold;
}

.modal-body1
{
    padding: calc(10px + 0.2vw);
    text-align: center;
}

.form-flow
{
    color: var(--crl-lightgreen);
}

.form-flow > input
{
    font-size: calc(10px + 0.5vw);
    padding: calc(5px + 0.10vw);
    outline: none;
    width: 50%;
}

#name, #emailaddress, #phonenumber
{
    margin-bottom: calc(10px + 0.5vw);
    padding: calc(8px + 0.1vw);
}

#submitbtn
{
    margin: calc(8px + 0.1vw);
    padding: calc(10px + 0.1vw);
    font-family: "acumin-pro-medium", Arial;
    font-size: calc(12px + 0.2vw);
    margin-right: calc(10px + 0.5vw);
    background-color: hsl(121, 82%, 47%);
    color: var(--crl-yellow);
    border: 3px solid hsl(121, 82%, 47%);
    border-radius: 25%;
}

#submitbtn:hover
{
    scale: 0.9;
}

#overlay2
{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    pointer-events: none;
}

#overlay2.active
{
    opacity: 0.5;
    pointer-events: all;
}

/* Simular Poupança Btn Section */
#btn2
{
    padding: calc(10px + 0.3vw);
    font-family: "acumin-pro-medium", Arial;
    font-size: calc(10px + 0.2vw);
    border: 3px solid hsl(121, 82%, 47%);
    border-radius: 25%;
}

#btn1:hover, #btn2:hover
{
    scale: 0.9;
}

.modal2
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.5s ease-in-out;
    border-radius: 10px;
    background-color: var(--crl-green);
    width: calc(300px + 60vw);
    max-width: 90%;
    height: calc(150px + 20vw);
    z-index: 5;
}

.modal2.active
{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header2
{
    padding: calc(10px + 0.2vw);
    margin-top: calc(-25px - 0.5vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.modal-header2 > .title2
{
    font-size: calc(12px + 0.8vw);
    font-weight: bold;
    margin-left: 35%;
    color: white;
}

.modal-header2 > .close-button2
{
    cursor: pointer;
    border: none;
    background: none;
    font-size: calc(10px + 1vw);
    font-weight: bold;
}

/* .modal-body2 */

.form-group
{
    text-align: center;
    color: var(--crl-lightgreen);
    padding: calc(10px + 0.2vw);
}

label
{
    display: block;
    margin: calc(5px + 0.5vw);
    font-size: calc(15px + 0.5vw);
}

select
{
    font-size: calc(10px + 0.5vw);
    border: 1px solid black;
    outline: none;
    width: calc(150px + 60vw);
    max-width: 90%;
    padding: calc(8px + 0.2vw);
}

/* #dropdown1 Not used yet */
/* #dropdown2 Not used yet */

#overlay3
{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    pointer-events: none;
}

#overlay3.active
{
    opacity: 0.5;
    pointer-events: all;
}

#side > img
{
    width: calc(100px + 30vw);
    margin-left: calc(20px + 10vw);
    padding-right: calc(10px + 2vw);
    margin-top: 10%;
}

#side:hover
{
    animation-name: TopMov;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes TopMov
{
    from
    {
        transform: translateY(0px);
    }
    to
    {
        transform: translateY(-30px);
    }
}

/* Phone */
@media all and (max-width: 400px) and (min-width: 350px)
{
    #side
    {
        display: none;
    }
}

/* Ipad */
@media all and (max-width: 850px) and (min-width: 400px)
{
    #side
    {
        display: none;
    }
}

/* ................................................. */
.card
{
    border: 1px solid black;
    /* border-radius: 5%; */
    max-width: 1000px;
    margin: 0 auto;
    /* idk about animation */
    padding: calc(10px + 0.5vw);
    text-align: center;
}

/* .card.active
{
    display: block;
} */
/* ................................................. */

  /* .multi-step-form {
    overflow: hidden;
    position: relative;
  } 
  
  .hide {
    display: none;
  } */
/* ................................................. */

/* Video Section */
#video
{
    position: relative;
    margin-top: 3%;
}

/* Phone */
@media all and (max-width: 400px) and (min-width: 350px)
{
    #video
    {
        margin-top: 8%;
    }
}

/* Ipad */
@media all and (max-width: 850px) and (min-width: 400px)
{
    #video
    {
        margin-top: 6%;
    }
}

#overlay4
{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    font-family: "acumin-pro-medium", Arial;
    font-size: calc(20px + 2vw);
    padding: calc(10px + 8vw);
    color: var(--crl-lightgreen);
}

#overlay4 > p
{
    color: white;
}

#p-crl1
{
    color: var(--crl-lightgreen);
    background-color: transparent;
}

#background-video > video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    object-fit: cover;
    z-index: 1;
    padding-bottom: 20px;
}

/* Vantagens Section */
#info-wrapper
{
    margin-top: 10%;
    background-color: var(--crl-lightgreen);
    font-family: "acumin-pro-medium", Arial;
    padding-top: 5px;
}

/* Phone */
@media all and (max-width: 400px) and (min-width: 350px)
{
    #info-wrapper
    {
        margin-top: 16%;
    }
}

/* Ipad */
@media all and (max-width: 850px) and (min-width: 400px)
{
    #info-wrapper
    {
        margin-top: 12%;
    }
}

#h2-title
{
    text-align: center;
    color: var(--crl-green);
    font-family: "acumin-pro-medium", Arial;
    font-size: calc(18px + 1vw);
}

#box
{
    display: grid;
    grid-tempLate-columns: repeat(4, 1fr);
    grid-gap: 40px;
    padding: 50px;
}

/* Phone */
@media all and (max-width: 400px) and (min-width: 350px)
{
    #box
    {
        display: grid;
        grid-tempLate-columns: repeat(1, 1fr);
    }
}

/* Ipad */
@media all and (max-width: 850px) and (min-width: 400px)
{
    #box
    {
        display: grid;
        grid-tempLate-columns: repeat(2, 1fr);
    }
}

.info-wrapper
{
    width: 280px;
    text-align: center;
    background-color: var(--crl-lightgreen);
    padding: calc(5px + 0.8vw);
}

.info-wrapper > h3
{
    color: var(--crl-green);
}

.fa-check, .fa-paperclip, .fa-shield-halved, .fa-file-pen
{
    background: transparent;
    color: orangered;
    cursor: pointer;
    font-size: calc(20px + 0.8vw);
}

.fa-check:hover, .fa-paperclip:hover, .fa-shield-halved:hover, .fa-file-pen:hover
{
    animation-name: TopMov2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes TopMov2
{
    from
    {
        transform: translateY(0px);
    }
    to
    {
        transform: translateY(-10px);
    }
}

/* Footer Section */
#footer
{
    margin-top: 4%;
    font-family: "acumin-pro-medium", Arial;
    background-color: var(--crl-lightgreen);
    /* background-color: hsla(0, 0%, 78%, 0.629); */
}

/* Phone */
@media all and (max-width: 400px) and (min-width: 350px)
{
    #footer
    {
        margin-top: 8%;
    }
}

/* Ipad */
@media all and (max-width: 850px) and (min-width: 400px)
{
    #footer
    {
        margin-top: 6%;
    }
}

#header-logo2
{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: calc(50px + 3vw);
    padding-top: calc(20px + 1vw);
    margin-left: 40%;
}

/* Phone */
@media all and (max-width: 400px) and (min-width: 350px)
{
    #header-logo2
    {
        margin-left: 25%;
    }
}

/* Ipad */
@media all and (max-width: 850px) and (min-width: 400px)
{
    #header-logo2
    {
        margin-left: 35%;
    }
}

#footer-links, #footer-links > a
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: var(--crl-green);
    text-decoration: none;
    font-size: calc(10px + 0.8vw);
    margin: calc(20px + 0.5vw) auto;
}

/* Phone */
@media all and (max-width: 400px) and (min-width: 350px)
{
    #footer-links
    {
        display: grid;
        grid-tempLate-columns: repeat(1, 1fr);
    }
}

/* Ipad */
@media all and (max-width: 850px) and (min-width: 400px)
{
    #footer-links
    {
        display: grid;
        grid-tempLate-columns: repeat(2, 1fr);
    }
}

.footer-link1, .footer-link2, .footer-link3, .footer-link4
{
    background: linear-gradient(var(--crl-yellow) 0 0) 0 100% /var(--d, 0) 3px no-repeat;
    transition: 1s;
}

.footer-link1:hover, .footer-link2:hover, .footer-link3:hover, .footer-link4:hover
{
    --d: 100%;
}

#copyright
{
    font-size: calc(10px + 0.3vw);
    margin: 0;
    padding: 5px;
}